@import url(sentient.css);
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Rowdies:wght@300&display=swap");

body {
  background: #D4A3D4;
  color: white;
  padding: 3em;
}

h1 {
  color: white;
  font-family: "Rowdies";
}

img {
  width: 50%;
}

p {
  font-family: "Sentient-Light";
  font-weight: 500;
  height: 2em; 
  width: 475px;
  padding-bottom: 1em;
}

ul { 
  margin-top: 120px;
  line-height: 2em;
  list-style: none;
  padding-left: 0; 
}

li {
  margin-bottom: .5em;
}

a {
    font-family: "Rowdies";
    text-decoration: none;
    letter-spacing: 0.5px;
    color: white;
    background-color: #8080bf;
    height: 1.5em;
    width: 6em;
    padding: .5em;
    margin-bottom: .5em;
    text-align: center;
    border-radius: 30px;
  
}

a:hover {
  background-color: white;
  color: #E24958;
  transition: all 0.2s ease;
}