@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  background: #8080bf;
  color: white;
  padding: 6em;
  margin: 5em;
}

h1 {
  color: #e1e1e1;
}

img {
  width: 50%;
}

p {
  height: 2em; 
  width: 450px;
}

ul { 
  margin-top: 120px; 
}

a {
  text-decoration: none;
  color: #e1e1e1;
}